<html lang=“en“>

<head>
    <meta charset=“UTF-8“>
    <title>ToDoList</title>
</head>

<body style="background-color: #fff1e6;">
    {% csrf_token %}
    Bienvenue {{e}} - {{ moi }}

    <p style="text-align:center; color:grey; font-size: 22px;">Ma ToDoList</p>

    <div style="text-align:center;">
        <p>Votre message :
        <form action="/envoyer/" method="POST"> 
            {% csrf_token %}
            <textarea type="text" id="message" value="" name="petitmessage" size="30"></textarea>
            <input type="submit" value="Envoyer le message">
        </form>
        </p>
    </div>
    <table>
    {% for key1,message in listeMessage.items %}
        {% for key2,m in message.items %}
            <div style="text-align: center;"> 
                <p>{{m}}</p> <button>Supprimer</button>
            </div>
        {% endfor %}
    {% endfor %}
    </table>
</body>

</html>